.gambarArtikel{
	height: 300px;
	width: 400px;
	float: right;
	padding: 10px;
	border-radius: 28px;
}

.artikelThumbnail{
	padding: 10px;
}

.thumbnailArtikel{
	transition: 1s;
	padding: 10px;
}


.thumbnailArtikel:hover{
	box-shadow: 1px 1px 30px rgba(0,0,0,0.6); 
}

a{
	color: black;
	transition: .3s;
}

a:hover{
	color: royalblue;
	text-decoration: none;
	text-shadow: 1px 1px 15px skyblue;
}


